#result {
  display: none;
}

.form-control {
  width: 1in;
  border-radius: 5px;
  border:0.16em solid #000000;
}

.container {
  margin-top: 15px;
  font-family: fantasy;
  font-size: 15px;
  background-color: white;
  border-radius: 10px;
  float: left;
  height: 750px;
  width: 800px;
  margin-left: 20%;
  margin-right: 10%;
  padding: 5px;
  border: 2px solid black;
  text-align: center;
  font-weight: 600;
}

p {
  font-size: 20px;
  font-family: "verdana";
  text-align: center;
  font-weight: 500;
}

.btn {
  border-radius: 5px;
  padding:0.5em 3em;
  border:0.16em solid #060606;
  font-family: fantasy;
  font-weight:600;
  font-size: 12px;
  color:#000000;
  text-align:center;
}

 
  
